*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
}

li{
  list-style: none;
}

.root{
  --text-color: rgb(15, 15, 96)
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.post__picture{
  width: 500px;
  height: 500px;
  object-fit: cover;
}

.post__picture img{
  width: 100%;
  height: 100%;
}

.wrapper{
  width: 400px;
  height: 430px;
  margin: auto;
  margin-top: 20px;
  text-align: center;
  position: relative;
  background: rgb(116, 159, 206);
  
}
.gameOver{
  width: 150px;
  height: 150px;
  margin: 15px auto;
  background: rgb(213, 255, 170);
  z-index: -1;
  position: absolute;
  top: -15px;
  font-size: 20px;
  font-weight: bold;
  line-height: 150px;
}
.tic-tac-toe{
  width: 150px;
  height: 150px;
  /* margin: 15px auto; */
  position: absolute;
  left:125px;
  bottom: 25px;
  
}
.ttt-grid{
  width: 50px;
  height: 50px;
  border: 1px solid black ;
  box-sizing: border-box;
  float: left;
  text-align: center;
  font-size: 40px;
  line-height: 35px;
  background: white;
}

.btn-restart{
  margin: 15px 0;
  border: 2px solid black;
  padding: 15px;
  background-color: rgb(12, 12, 25);
  color: azure;
}

.change p{
  font-weight: 900;
}

.change input{
  margin: 10px;
}

.title__win{
  margin: 10px 0;
  font-weight: 700;
}

.count{
  display: flex;
  justify-content: center;
  gap: 20px;
}

.title{
  color: rgb(59, 2, 2);
  font-weight: 700;
}

button.selected{
  background-color: #646cff;
}